
/* Defaults and Layout ************************************/

body
{
        font-family:    "Helvetica", "Arial", Sans-Serif;
        font-size: 42px;
        margin-left:    0;
        margin-right:   0;
        margin-top:     0;
        margin-bottom:  0;
}

th
{       text-align:     left;
        font-weight:    bold;
        font-size:      0.8em;
        height:         1.2em;
        min-width:      4em;
}

input
{       font-size:      1em;
        width:          100%;
        padding:        0.2ex;
        box-sizing:     border-box;
}

select
{       font-size:      1em;
        width:          100%;
        padding:        0.2ex;
        box-sizing:     border-box;
}


/* Page Setup *********************************************/
#container
{       min-width:      320px;
        max-width:      1400px;
        margin-left:    0;
        margin-right:   0;
}

#content
{       padding-left:   1em;
        padding-right:  1em;
        padding-top:    1ex;
        padding-bottom: 1ex;
}


/* Navigation Bar *****************************************/
#navbar
{       width:                  100%;
        color:                  #f0f0f0;
        background-color:       #135d8b;
        margin-left:            0;
        margin-right:           0;
        margin-top:             0;
        padding-left:           0;
        padding-right:          0;
        min-height:             2em;
}


#navbar table
{       width:                  100%;
        padding-left:           1ex;
        padding-right:          1ex;
        padding-top:            1ex;
        padding-bottom:         1ex;
}

#navbar #Logout
{       text-align:             right;
        padding-right:          0;

}

#navbar a
{
        color:                  #e0e0e0;
        text-decoration:        none;
}

/* Actions ************************************************/
#actions td
{       padding-top:            0;
        padding-bottom:         1ex;
        padding-left:           0;
        padding-right:          2ex;
}

#actions a
{       text-decoration:        none;
        color: #00a;
}


/* Details ************************************************/
.details table
{       margin-bottom:          1ex;
}


/* Lists **************************************************/
.list table
{       width:          100%;
}

.list tbody th
{       border-bottom:  2px solid rgb(0,80,150);
}

.list td
{       padding-bottom:  0.3ex;
}

.list tbody .link
{       text-decoration: underline;
}

/* The whole list row is a link to the edit page,
   so we don't need to underline it separately. */
.list tbody tr:hover a
{       color: #00f;
        text-decoration: none;
}

.list tbody tr:hover .link
{       color: #00f;
}

.list tbody a
{       color: #00a;
        text-decoration: none;
}



/* Field feedback *****************************************/
.invalid
{       color:          red;
}

.updated
{       color:          #080
}


/* Entity Details  ****************************************/
.details table
{       width:          100%;
}

.details .list
{       padding-top:    2ex;

}

/* Entity Lists *******************************************/


.paths table
{
        border-collapse: collapse;
}

.paths td
{       padding-right:  1ex;
}


/* Input **************************************************/
.input-hidden
{       visibility:     hidden;

}

.button-full
{       box-shadow:     inset 0px 1px 0px 0px #ffffff;
	background:     linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:  6px;
	border:         1px solid #dcdcdc;
	display:        inline-block;
	cursor:         pointer;
	color:          #666666;
	font-size:      1em;
	font-weight:    bold;
	padding:        6px 24px;
	text-decoration:none;
	text-shadow:    0px 1px 0px #ffffff;
        height:         2em;
        width:          100%;
        margin-top:     1ex;
        margin-bottom:  1ex;
}

.button-full:hover
{       background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.button-full:active
{       position:relative;
	top:1px;
}


/* Common Column Layout ***********************************/
.Col2A                          { width: 50% }
.Col2B                          { width: 50% }

.Col3A                          { width: 20% }
.Col3B                          { width: 30% }
.Col3C                          { width: 50% }

.Col2bA                         { width: 40% }
.Col2bB                         { width: 60% }

.Col3bA                         { width: 40% }
.Col3bB                         { width: 30% }
.Col3bC                         { width: 30% }



/* Person List ********************************************/
.person-list .ShortName         { width: 8em; }
.person-list .FamilyName        { width: 10em; }



/* Person View/Edit **************************************/

.person-view .event-summary .Type       { width: 10em;  }

.person-view .event-attendance .Date    { width: 6em;  }
.person-view .event-attendance .Time    { width: 4em;  }


/* Class View **********************************************/
#class-regulars .Fees           { width: 2em;   }

/* Event List *********************************************/
.event-list .Date               { width: 6em;   }
.event-list .Time               { width: 4em;   }
.event-list .Location           { min-width: 6em;  }
.event-list .Pax                { width: 2em;   }

/* Event View/Edit ******************************************/

/* View Mode */
#event-details-view .EventId    { width: 2em; }
#event-details-view .Date       { width: 8em; }
#event-details-view .Location   { width: 10em; }

/* Edit Mode */
#event-details-edit .EventId    { width: 3em; }

#event-attendance-cur .index    { width: 3em; }
#event-attendance-cur .actions  { width: 1ex; }
#event-attendance-cur .Fees     { width: 2em; }

#event-attendees      .index    { width: 3em; }
#event-attendees      .actions  { width: 1em }



/* Class **************************************************/
.qrcode
{       display:        block;
        margin-left:    auto;
        margin-right:   auto;
        width:          90%
}

.qrident
{
        font-family:    monospace;

}

.class-regulars .Date           { width: 6em; }
.class-regulars .Fees           { width: 2em; }



/* Icons **************************************************/
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.green { color: #208020; }
.material-icons.red   { color: #802020; }
